#fondo {
    background: url(/static/img/gray.jpg);
     
    overflow: scroll;
    height:585px;
    width:1366px;
    text-align:center;
}
.cuerpo {
    background-color:#174466;
    height:575px;
    width:1000px;
    margin:0px auto;
    opacity:1; /* Opacidad 60% */
}
.Scuerpo {
    background-color:#174466;
    height:1200px;
    width:1000px;
    margin:0px auto;
    opacity:1; /* Opacidad 60% */
}

.contenido{
    width:750px;
    height:400px;
    margin: 15px auto;
    /*background-color: bisque;*/
}

.texT {
    color: white/*#7FFFD4*/;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
}
.texST {
    color: #ccc;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 300;
}

.subtitle {
    color: white/*#7FFFD4*/;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.espacio {
    height:40px;
    width:900px;
    margin:0px auto;
    opacity:0.0; /* Opacidad 60% */
}

.error{
    color: #FF0000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.loader {
  border: 5px solid #0000;
  border-radius: 50%;
  border-top: 5px solid #FFFF;
  border-bottom: 5px solid #FFFF;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

select {
    width: 50px;    
    align-items: center;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
/*tr:nth-of-type(odd) { 
    background: gray; 
}*/

th{ 
    background: #333; 
    color: white; 
    font-weight: bold; 
    text-align: center; 
}
td{ 
    color: white; 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}
td.type2{ 
    color: black; 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

table.type2 {
    width: 100%;
    border: 1px solid #ccc;        
    background: white;
    color: black;    
}

table.type2 td{    
    color: black; 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
}


table.type3 {
    width: 100%;
    border: 1px solid #ccc;        
    background: white;
    color: black;    
}

table.type3 th{    
    color: white; 
    padding: 6px;
    background: gray;
    border: 1px solid #FFFF; 
    text-align: center; 
}

table.type3 td{    
    color: black; 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
}

.mediana {
    width: 1000000000px; 
    height: 100000000000px;
  }

td.srchVal{ 
    color: black; 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

table.srchVal {
    width: 100%;
    border: 1px solid #ccc;        
    background: #A9A9A9;
    color: black;    
}

table.srchVal td{    
    color: black; 
    padding: 10px; 
    border: 5px solid #ccc; 
    text-align: center; 
    font-size: 14px; 
}


/*-----------------Estilos para secciones desplegables-----------------*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*/////////////////////////////////////////////////////////////////////*/

/************************REPORTE ***********************/
