{% extends 'general/general.html' %}
{% block contenido %}
<div class='cuerpo' >
   {% from "_macro.html" import render_field %}   <!-- Hacemos uso del macro render_field-->
   </br>
   <h5 class = 'texT' > CONSULTA </h5>
   <div class = 'contenido'>
    <form action="" method="post" Consulta>
        <div class='texST'>
            {{ render_field(form.id_busqueda) }} 
        </div>
        <div class='texST'>
            {{ render_field(form.nombre) }} 
        </div>
        <div class='texST'>
            {{ render_field(form.nombre_usuario) }} 
        </div>
        <div class='texST'>
            {{ render_field(form.ubicacion) }} 
        </div>
        <div class='texST'>
            {{form.fecha_in.label}}
            </br>
            {{ form.fecha_in(type ='date', min='08/08/2018', max='08/08/2022' ) }} 
                {% for error in form.fecha_in.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {{form.fecha_fin.label}}
            {{ form.fecha_fin(type ='date', min='08/08/2018', max='08/08/2022' ) }} 
            </br>
                {% for error in form.fecha_fin.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
        </div> 
        <div class='texST'>
            </br>
            {{ form.submit(value='Consultar') }} </br>
        </div>
    </form>
   </div>   
</div>
{% endblock contenido %}
    