<html>
<head>
     
    <!--bootstrap4-->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <!-- estilos propios -->
    <link rel = "stylesheet" type= "text/css" href="../static/css/reporte.css" >
    <title>REPORTE</title>
    
</head>
  
<body>
  <br/>
  <br/>
  <h1> "ANBU" </h1> 
  <h2> Reporte de Resultados de B&uacute;squeda  </h2>
  <br/>
  <br/>

  <table>
    <tr class='espacio'>
      <td class='espacio'> 
        <br/>
        <p class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID B&uacute;squeda </p> 
      </td>
      <td class='espacio'>
        <br/>
        <p class='datoindicado'> {{num_busqueda}} </p>
      </td>
      <td COLSPAN=2 class='espacio'> 
        <br/>
        <p class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fecha de b&uacute;squeda </p>
      </td>
      <td COLSPAN=2 class='espacio'>  
        <br/>
        <p class ='datoindicado'> {{fecha_busqueda[0][1]}} </p>  
      </td>]
    </tr>  
    <tr class='espacio'>
      <td COLSPAN=6 class='espacio'> 
      <br/>
      <p class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Parametros de b&uacute;squeda <p> 
      </td>
    </tr>
    <tr class='espacio'>
      <td class="espacio" COLSPAN=2>
        <br/>
        <p class='dato'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nombre: &nbsp;&nbsp; <a class='datoindicado'> {{nombre_buscado[0][0]}} </a> </p>
      </td>
      <td COLSPAN=2 class="espacio">
        <br/>
        <p class='dato'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No. de perfiles: &nbsp;&nbsp; <a class='datoindicado'> {{no_perfiles[0][0]}} </a> </p>
      </td>
      <td class="espacio" COLSPAN=2>
        <br/>
        <p class='dato'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No. de publicaciones: &nbsp;&nbsp; <a class='datoindicado'> {{no_publicaciones[0][0]}} </a> </p>
      </td>
    </tr>
    <tr class="color">
      <td COLSPAN=6> </td>
    </tr>
    <tr>
    <td COLSPAN=6 >
    <div class='cont'>
      <br/>
        <p class='p2'> En la b&uacute;squeda {{num_busqueda}}
        realizada el {{fecha_busqueda[0][1]}}, mediante el nombre "{{nombre_buscado[0][0]}}"
        se accedio a {{no_perfiles[0][0]}} perfiles de los cuales se recopilaron un total de {{no_publicaciones[0][0]}} 
        publicaciones, para su respectivo an&aacute;lisis, donde se detetar&oacute;n un total de {{no_armas[0][0]}} publicaciones 
         con portacion de arma tipo escuadra calibre corto y un total {{no_rostros[0][0]}}
        rostros que podr&iacute;an indicar
        rasgos agresivos.  
        En las tablas mostradas acontinuaci&oacute;n se detallar&aacute; cada una de las publicaciones por perfil.
        </p>
    </div>    
      </td>
    </tr>  
  </table>


<br/>
<br/>

{%for perfil in perfiles%}
<table class='espacio'>

    <tr class="color">
      <td COLSPAN=3> </td>
    </tr>
    <tr class='espacio'>
      <td COLSPAN=3 class='espacio'> 
        <br/>
        <i class='datoindicado'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID Perfil  &nbsp;&nbsp;&nbsp; {{perfil[0]}} </i>
      </td>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nombre del perfil:
        <i class='datoindicado'> {{perfil[2]}} </i> </i>
      </td>
      <td class='espacio'>  </td>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Username:
        <i class='datoindicado'> {{perfil[1]}} </i> </i>
      </td>
      <td class='espacio'>  </td>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=3 class='espacio'>
        <br/>
        <p class='cont'>  URL Perfil:</i>
        {{perfil[3]}} </p>
        <br>
        </td>
    </tr>
    <tr class="color">
      <td COLSPAN=6> </td>
    </tr>
    
     {%for publicacon in publicaciones%}
     {% if publicacon[1] == perfil[0] %}

    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Id Publicaci&oacute;:
        <i class='datoindicado'> {{publicacon[0]}} </i> </i>
        <br/>
        <br/>
      </td>
      <td class='espacio'>  </td>
    </tr>

    <tr class="espacio">
      <td ROWSPAN=8 class='espacio'>   <img src="../{{publicacon[8]}}"> <br/><br/> </td>
      <!--<img src="{{ruta_imagen}}" >-->
      <td class='espacio'> </td>
      <td class='espacio'> </td>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ubicaci&oacuten:
        <i class='datoindicado'> {{publicacon[2]}} </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha:
        <i class='datoindicado'> {{publicacon[3]}} </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enlace:
        <i class='datoindicado'> {{publicacon[4]}} </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pie de imagen:
        <i class='datoindicado'> {{publicacon[5]}} </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No de armas detectadas:
        <i class='datoindicado'> {{publicacon[7]}} </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No de rostros detectados:
        <i class='datoindicado'> {{publicacon[7]}} </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resultado:
        <i class='datoindicado'> {{Resultado}} </i> </i>
        <br/>
        <br/>
    </tr>
    <tr class='espacio'>
      <td COLSPAN=3 class='espacio'>
        <br/>
        <br/>
      </td>
    </tr>
        {% endif %}
     {%endfor%}
  {%endfor%}
  </table>
</body>

</html>