<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!--bootstrap4-->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <!-- estilos propios -->
    <link rel=”stylesheet” type=”text/css” href= ”..static/css/reporte.css”>
    <!-- Agregamos libreria Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Agreamos la ruta de los archivos js -->
    <script src="Pagina/static/js/reporte.js"></script>
    
    <title>REPORTE</title>
    
  </head>
  
<body class ="formato">

Hola mundo!{{name}}<br>

<b>Esto es negrita{{course}}.</b><br>

<i>Y esto it&aacute;lica.</i><br>

</body>

</html>