<html>
<head>
     
    <!--bootstrap4-->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <!-- estilos propios -->
    <link rel = "stylesheet" type= "text/css" href="../static/css/reporte.css" >
    <title>REPORTE</title>
    
</head>
  
<body>
<div class = 'carta'>
  <h1> "ANBU" </h1> 
  <img src="../static/img/arma.jpeg">
  <h3> Reporte de Resultados de An&aacute;lisis  </h3>
  <table>
    <tr>
      <th>B&uacute;squeda No </th>
      <th COLSPAN=2> 10</th>
      <th>Fecha de b&uacute;squeda </th>
      <th COLSPAN=2> 10/08/2020 </th>
    </tr> 
    <tr>
      <td COLSPAN=6>  </td>
    </tr>
    <tr>
      <td COLSPAN=6> Parametros de b&uacute;squeda </td>
    </tr>
    <tr>
      <td COLSPAN=6>  </td>
    </tr>
    <tr>
      <td>  Nombre: </td>
      <td>  Ferrer </td>
      <td>  N&uacute;mero de perfiles buscados </td>
      <td>  8 </td>
      <td>  N&uacute;mero de publicaciones buscadas por perfil </td>
      <td>  6 </td>
    </tr>
    <tr>
      <td COLSPAN=6> 
        <p>En esta b&uacute;squeda se encontraron 19 armas 
          de fuego calibre corto y 10 rostros agresivos en un total <br>
          de 6 publicaciones, encontradas en 8 
          perfiles con los siguientes parametros a se&ntilde;alar.
        </p>
      </td>
    </tr>
    
  </table>
<br>
<br>


<table >
    <tr>
      <th> Perfil No </th>
      <th COLSPAN=2> 1</th>
    </tr>
    <tr> 
      <td>Nombre del perfil: </td>
      <td COLSPAN=2> Roberto Sanchez </td>
    </tr>
    <tr> 
      <td>Nombre de usuario: </td>
      <td COLSPAN=2> Ferrer </td>
    </tr>  
    <tr>
      <td>Biografia: </td>
      <td COLSPAN=2>  </td>>
    </tr>
    
    
    <tr>
      <td> Publicaci&oacute;n </td>
      <th COLSPAN=2> 1</th>
    </tr>
    <tr>
      <td COLSPAN=6>  </td>
    </tr>
    <tr>
      <td ROWSPAN=8>   <img src="../static/img/arma.jpeg">  </td>
      <!--<img src="../static/img/ANBU.jpg" >-->
    </tr>
    <tr>
      <td>  Ubicaci&oacuten </td>
      <td>  Mexico </td>
    </tr>  
    <tr>
      <td>  Fecha </td>
      <td>  98/87/12 </td>
    </tr>
    <tr>
      <td> Enlace: </td>
      <td>  ruta de enla perfil </td>
    </tr>
    <tr>
      <td> Pie de imagen </td>
      <td>En la playa</td>
    </tr>
    <tr>
      <td> No de armas detectadas </td>
      <td>2</td>
    </tr>
    <tr>
      <td> No de rostros detectados </td>
      <td>1</td>
    </tr>
    <tr>
      <td> Resultado: </td>
      <td>Es posible violento</td>
    </tr>
     
    <tr>
      <td> Publicaci&oacute;n </td>
      <th COLSPAN=2> 2</th>
    </tr>
    <tr>
      <td COLSPAN=6>  </td>
    </tr>
    <tr>
      <td ROWSPAN=8>   <img src="../static/img/arma.jpeg">  </td>
      <!--<img src="../static/img/ANBU.jpg" >-->
    </tr>
    <tr>
      <td>  Ubicaci&oacuten </td>
      <td>  Mexico </td>
    </tr>  
    <tr>
      <td>  Fecha </td>
      <td>  98/87/12 </td>
    </tr>
    <tr>
      <td> Enlace: </td>
      <td>  ruta de enla perfil </td>
    </tr>
    <tr>
      <td> Pie de imagen </td>
      <td>En la playa</td>
    </tr>
    <tr>
      <td> No de armas detectadas </td>
      <td>2</td>
    </tr>
    <tr>
      <td> No de rostros detectados </td>
      <td>1</td>
    </tr>
    <tr>
      <td> Resultado: </td>
      <td>Es posible violento</td>
    </tr>
     
  
<table >
    <tr>
      <th> Perfil No </th>
      <th COLSPAN=2> 2</th>
    </tr>
    <tr> 
      <td>Nombre del perfil: </td>
      <td COLSPAN=2> Roberto Sanchez </td>
    </tr>
    <tr> 
      <td>Nombre de usuario: </td>
      <td COLSPAN=2> Ferrer </td>
    </tr>  
    <tr>
      <td>Biografia: </td>
      <td COLSPAN=2>  </td>>
    </tr>
    
    
    <tr>
      <td> Publicaci&oacute;n </td>
      <th COLSPAN=2> 1</th>
    </tr>
    <tr>
      <td COLSPAN=6>  </td>
    </tr>
    <tr>
      <td ROWSPAN=8>   <img src="../static/img/arma.jpeg">  </td>
      <!--<img src="../static/img/ANBU.jpg" >-->
    </tr>
    <tr>
      <td>  Ubicaci&oacuten </td>
      <td>  Mexico </td>
    </tr>  
    <tr>
      <td>  Fecha </td>
      <td>  98/87/12 </td>
    </tr>
    <tr>
      <td> Enlace: </td>
      <td>  ruta de enla perfil </td>
    </tr>
    <tr>
      <td> Pie de imagen </td>
      <td>En la playa</td>
    </tr>
    <tr>
      <td> No de armas detectadas </td>
      <td>2</td>
    </tr>
    <tr>
      <td> No de rostros detectados </td>
      <td>1</td>
    </tr>
    <tr>
      <td> Resultado: </td>
      <td>Es posible violento</td>
    </tr>
     
    <tr>
      <td> Publicaci&oacute;n </td>
      <th COLSPAN=2> 2</th>
    </tr>
    <tr>
      <td COLSPAN=6>  </td>
    </tr>
    <tr>
      <td ROWSPAN=8>   <img src="../static/img/arma.jpeg">  </td>
      <!--<img src="../static/img/ANBU.jpg" >-->
    </tr>
    <tr>
      <td>  Ubicaci&oacuten </td>
      <td>  Mexico </td>
    </tr>  
    <tr>
      <td>  Fecha </td>
      <td>  98/87/12 </td>
    </tr>
    <tr>
      <td> Enlace: </td>
      <td>  ruta de enla perfil </td>
    </tr>
    <tr>
      <td> Pie de imagen </td>
      <td>En la playa</td>
    </tr>
    <tr>
      <td> No de armas detectadas </td>
      <td>2</td>
    </tr>
    <tr>
      <td> No de rostros detectados </td>
      <td>1</td>
    </tr>
    <tr>
      <td> Resultado: </td>
      <td>Es posible violento</td>
    </tr>
     
  
  </table>
</div>
</body>

</html>