<html>
<head>
     
    <!--bootstrap4-->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <!-- estilos propios -->
    <link rel = "stylesheet" type= "text/css" href="../static/css/reporte.css" >
    <title>REPORTE</title>
    
</head>
  
<body>
  <br/>
  <br/>
  <h1> "ANBU" </h1> 
  <h2> Reporte de Resultados de B&uacute;squeda  </h2>
  <br/>
  <br/>

  <table>
    <tr class='espacio'>
      <td class='espacio'> 
        <br/>
        <p class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID B&uacute;squeda </p> 
      </td>
      <td class='espacio'>
        <br/>
        <p class='datoindicado'> 36 </p>
      </td>
      <td COLSPAN=2 class='espacio'> 
        <br/>
        <p class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fecha de b&uacute;squeda </p>
      </td>
      <td COLSPAN=2 class='espacio'>  
        <br/>
        <p class ='datoindicado'> 2020-06-17 17:08:29 </p>  
      </td>]
    </tr>  
    <tr class='espacio'>
      <td COLSPAN=6 class='espacio'> 
      <br/>
      <p class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Parametros de b&uacute;squeda <p> 
      </td>
    </tr>
    <tr class='espacio'>
      <td class="espacio" COLSPAN=2>
        <br/>
        <p class='dato'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nombre: &nbsp;&nbsp; <a class='datoindicado'> xanat </a> </p>
      </td>
      <td COLSPAN=2 class="espacio">
        <br/>
        <p class='dato'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No. de perfiles: &nbsp;&nbsp; <a class='datoindicado'> 1 </a> </p>
      </td>
      <td class="espacio" COLSPAN=2>
        <br/>
        <p class='dato'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No. de publicaciones: &nbsp;&nbsp; <a class='datoindicado'> 2 </a> </p>
      </td>
    </tr>
    <tr class="color">
      <td COLSPAN=6> </td>
    </tr>
    <tr>
    <td COLSPAN=6 >
    <div class='cont'>
      <br/>
        <p class='p2'> En la b&uacute;squeda 36
        realizada el 2020-06-17 17:08:29, mediante el nombre "xanat"
        se accedio a 1 perfiles de los cuales se recopilaron un total de 2 
        publicaciones, para su respectivo an&aacute;lisis, donde se detetar&oacute;n un total de 0 publicaciones 
         con portacion de arma tipo escuadra calibre corto y un total 0
        rostros que podr&iacute;an indicar
        rasgos agresivos.  
        En las tablas mostradas acontinuaci&oacute;n se detallar&aacute; cada una de las publicaciones por perfil.
        </p>
    </div>    
      </td>
    </tr>  
  </table>


<br/>
<br/>


<table class='espacio'>

    <tr class="color">
      <td COLSPAN=3> </td>
    </tr>
    <tr class='espacio'>
      <td COLSPAN=3 class='espacio'> 
        <br/>
        <i class='datoindicado'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID Perfil  &nbsp;&nbsp;&nbsp; 32 </i>
      </td>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nombre del perfil:
        <i class='datoindicado'> Xanat Hernandez </i> </i>
      </td>
      <td class='espacio'>  </td>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Username:
        <i class='datoindicado'> _.xanat._ </i> </i>
      </td>
      <td class='espacio'>  </td>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=3 class='espacio'>
        <br/>
        <p class='cont'>  URL Perfil:</i>
        https://www.instagram.com/_.xanat._ </p>
        <br>
        </td>
    </tr>
    <tr class="color">
      <td COLSPAN=6> </td>
    </tr>
    
     

    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Id Publicaci&oacute;:
        <i class='datoindicado'> 78 </i> </i>
        <br/>
        <br/>
      </td>
      <td class='espacio'>  </td>
    </tr>

    <tr class="espacio">
      <td ROWSPAN=8 class='espacio'>   <img src="../"+"tmp/post_img/36/32-78.jpg"> <br/><br/> </td>
      <!--<img src="" >-->
      <td class='espacio'> </td>
      <td class='espacio'> </td>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ubicaci&oacuten:
        <i class='datoindicado'> None </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha:
        <i class='datoindicado'> 2020-06-06 00:23:33 </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enlace:
        <i class='datoindicado'> https://www.instagram.com/p/CBEsmbtlo0R </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pie de imagen:
        <i class='datoindicado'>  </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No de armas detectadas:
        <i class='datoindicado'> None </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No de rostros detectados:
        <i class='datoindicado'> None </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resultado:
        <i class='datoindicado'>  </i> </i>
        <br/>
        <br/>
    </tr>
    <tr class='espacio'>
      <td COLSPAN=3 class='espacio'>
        <br/>
        <br/>
      </td>
    </tr>
     

    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Id Publicaci&oacute;:
        <i class='datoindicado'> 79 </i> </i>
        <br/>
        <br/>
      </td>
      <td class='espacio'>  </td>
    </tr>

    <tr class="espacio">
      <td ROWSPAN=8 class='espacio'>   <img src="../"+"tmp/post_img/36/32-79.jpg"> <br/><br/> </td>
      <!--<img src="" >-->
      <td class='espacio'> </td>
      <td class='espacio'> </td>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ubicaci&oacuten:
        <i class='datoindicado'> None </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha:
        <i class='datoindicado'> 2020-05-12 02:32:20 </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enlace:
        <i class='datoindicado'> https://www.instagram.com/p/CAEjd15HPUq </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pie de imagen:
        <i class='datoindicado'>  </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No de armas detectadas:
        <i class='datoindicado'> None </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No de rostros detectados:
        <i class='datoindicado'> None </i> </i>
    </tr>
    <tr class='espacio'> 
      <td  COLSPAN=2 class='espacio'>
        <br/>
        <i class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resultado:
        <i class='datoindicado'>  </i> </i>
        <br/>
        <br/>
    </tr>
    <tr class='espacio'>
      <td COLSPAN=3 class='espacio'>
        <br/>
        <br/>
      </td>
    </tr>
     
  
  </table>
</body>

</html>