<html>
<head>
     
    <!--bootstrap4-->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <!-- estilos propios -->
    <link rel = "stylesheet" type= "text/css" href="../static/css/reporte.css" >
    <title>REPORTE</title>
    
</head>
  
<body>
  <br/>
  <br/>
  <h1> "ANBU" </h1> 
  <h2> Reporte de Resultados de B&uacute;squeda  </h2>
  <br/>
  <br/>

  <table>
    <tr class='espacio'>
      <td class='espacio'> 
        <br/>
        <p class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID B&uacute;squeda </p> 
      </td>
      <td class='espacio'>
        <br/>
        <p class='datoindicado'> 121 </p>
      </td>
      <td COLSPAN=2 class='espacio'> 
        <br/>
        <p class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fecha de b&uacute;squeda </p>
      </td>
      <td COLSPAN=2 class='espacio'>  
        <br/>
        <p class ='datoindicado'> 2020-06-19 00:29:23 </p>  
      </td>]
    </tr>  
    <tr class='espacio'>
      <td COLSPAN=6 class='espacio'> 
      <br/>
      <p class='dato'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Parametros de b&uacute;squeda <p> 
      </td>
    </tr>
    <tr class='espacio'>
      <td class="espacio" COLSPAN=2>
        <br/>
        <p class='dato'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nombre: &nbsp;&nbsp; <a class='datoindicado'> Juan </a> </p>
      </td>
      <td COLSPAN=2 class="espacio">
        <br/>
        <p class='dato'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No. de perfiles: &nbsp;&nbsp; <a class='datoindicado'> 0 </a> </p>
      </td>
      <td class="espacio" COLSPAN=2>
        <br/>
        <p class='dato'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No. de publicaciones: &nbsp;&nbsp; <a class='datoindicado'> 0 </a> </p>
      </td>
    </tr>
    <tr class="color">
      <td COLSPAN=6> </td>
    </tr>
    <tr>
    <td COLSPAN=6 >
    <div class='cont'>
      <br/>
      <br/>
        <p class='p2'> En la b&uacute;squeda 121
        realizada el 2020-06-19 00:29:23, mediante el nombre "Juan"
        se accedio a 0 perfiles de los cuales se recopilaron un total de 0 
        publicaciones, para su respectivo an&aacute;lisis, donde se detetar&oacute;n un total de 0 publicaciones 
         con portacion de arma tipo escuadra calibre corto y un total 0
        rostros que podr&iacute;an indicar
        rasgos agresivos.  
        En las tablas mostradas acontinuaci&oacute;n se detallar&aacute; cada una de las publicaciones por perfil.
        </p>
        <br/>
    </div>    
      </td>
    </tr>  
  </table>


<br/>
<br/>
<br/>
<br/>

 
</body>

</html>