{% extends 'general/general.html' %}
{% block contenido %}
<div class='Scuerpo'>
   </br>
   <h5 class = 'texT' > CONSULTAS </h5>
    <form method="POST" action=""> 
    <table class="type2">
		<tr>
			<th>Nombre o Username Buscado</th>			
			<th>Fecha Inicio</th>
			<th>Fecha Limite</th>			
		</tr>
		<tr>			
			<td><b>{{name}}</b></td>
			<td><b>{{fecha1}}</b></td>
			<td><b>{{fecha2}}</b></td>

		</tr>		  
	</table>
	<br/>
	<br/>

	<table class="type2">
		<tr>
			<th>Id B&uacute;squeda</th>			
			<th>Nombre_buscado</th>
			<th>Fecha b&uacute;squeda</th>	
			<th>Reporte</th>		
		</tr>
		{%for consul in consultas%}			
		<tr>
			<td><b>{{consul[0]}}</b></td>
			<td><b>{{consul[1]}}</b></td>
			<td><b>{{consul[2]}}</b></td>
			<td><b><a href="/generar_reportes" class="btn btn-secondary"> Generar Reporte </a> </b></td>
		</tr>	
		{% endfor %}	  
	</table>


	
{% endblock contenido %}
</div>    