<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!--bootstrap4-->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <!-- estilos propios -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <!-- Agregamos libreria Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Agreamos la ruta de los archivos js -->
    <script type="{{url_for('static',filename='js/archivo.js')}}"></script>
    
    <title>ANBU</title>
  </head>

  <!--MAIN_BODY-->
  <body>
    <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href='/'> <img src="/static/img/ANBU-B.jpg" width="210"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/busqueda"> <h4> Búsqueda </h4> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/consulta"> <h4> Consulta </h4> </a>
          </li>
        </ul>
        <span class="navbar-text">
          <a class="nav-link" href="/conocenos"> <h4> Acerca del Sitio </h4> </a>
        </span>
      </div>
    </nav>
    <!--//Barra de navegación-->
    
    <!--Contenido-->
    <div id="fondo">
      {% block contenido %}
      {% endblock contenido %}
    </div>
    <!--//Contenido//-->
  </body>
  <!--//MAIN_BODY//-->
</html>